body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 320px;
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background: url(bg.svg) no-repeat 100% 0%;
  background-size: 50%;
}
h1 {
  margin: 0;
  font-weight: normal;
}

.container {
  box-sizing: border-box;
  flex: auto 1 0;
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding: 0 8px;
}

.header {
  display: flex;
  align-items: center;
  padding: 16px 0;
  border-bottom: 2px solid #050038;
}
.content {
  display: flex;
  flex: auto 1 0;
  flex-direction: column;
  padding: 40px 0;
}
.footer {
  padding: 32px 0;
  color: #fff;
  background: #050038;
  text-align: center;
}

.form {
  box-sizing: border-box;
  width: 100%;
  margin-top: 40px;
  background: #fff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.form:first-child {
  margin-top: 0;
}
.form--narrow {
  max-width: 540px;
  margin: auto;
}

.form__main {
  padding: 32px 50px 24px;
  background: #f8f8f7;
  border-radius: 8px 8px 0 0;
}
.form__main h3 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 27px;
}
.form__area {
  box-sizing: border-box;
  height: 96px;
  margin-top: 24px;
  font-size: 14px;
  background: #ffffff;
  border: 1px solid #c3c2cf;
  border-radius: 4px;
}

.form__controls {
  padding: 8px 50px 32px;
}
.form__controls button {
  padding: 7px 17px;
  margin: 16px 16px 0 0;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  background: #4262ff;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
}
.form__controls button:hover {
  background: #0f38ff;
}
.form__controls button:focus {
  outline: none;
  border-color: #fff;
  border-style: dotted;
}
.form__controls button:active {
  color: #4262ff;
  background: #fff;
  border-color: #4262ff;
}
.form__controls button:last-child {
  margin-right: 0;
}
